<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="stylesheet">
    <link rel="icon" href="../img/top.ico">
    <title>Registrarse</title>
</head>
<body>
<header>
    <h1>Registrate para saber cuando publicamos nuevos calzados que te puedan interesar!</h1>
</header>

<main>
    <form action="">
        <fieldset>
            <legend>Registro:</legend>
            <label for="nombre">Nombre</label> <br>
            <input type="text" id="Nombre"><br>
            <label for="Apellido">Apellido</label> <br>
            <input type="text" id="Apellido"><br>
            <label for="EMAIL">Email</label> <br>
            <input type="text" id="Email"><br>
            <label for="Contraseña">Contraseña</label> <br>
            <input type="text" id="Contraseña"><br>
            <input class="enviar" type="submit" value="Registrarse">
        </fieldset>
    </form>
</div> 

</main>

<div class="divisor">
</div>
<div class="divisor">
</div>

<footer>
    <h2><a href="../../index.html">Volver</h2></a>
    <hr>
    <p>&copy; 2024 Rompe Calza2. Todos los derechos reservados.</p>
</footer>
</body>
</html>